* {
    font-family: 'Open Sans', sans-serif;

}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;

}

.btn-primary {
    color: white;
    background: #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px;
    /* width: 150px; */
    height: 64px;
    font-weight: 700;
    font-size: 20px;


}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-subtitle {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;

}

.banner-title {
    font-weight: 600;
    font-size: 45px;
    /* margin-bottom: 20px; */
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}

header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
font-size: 35px;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-weight: 400;
font-size: 20px;
color: #757575;
}
.info-description{
    color: #474747;
    font-weight: 700;
font-size: 20px;
}
/* what i do styles */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill-title{
    /* text-align: center; */
    font-weight: 700;
font-size: 20px;
margin-top: 30px;
margin-bottom: 20px;
}
.skill-des{
    color: #757575;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    
    border-radius: 5px;
    padding: 30px;
}
section{
    margin-top: 130px;
}
/* resume styles */
.resume-content{
    display: flex;
    gap: 24px;
}
.resume .title{
    font-weight: 700;
font-size: 25px;
color: #474747;
margin-bottom: 10px;
}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
font-size: 20px;
margin-bottom: 20px;
}
.resume .des{
    color: #757575;
    font-weight: 400;
font-size: 16px;
}
hr{
    /* margin: 30px; */
}
.resume-btn{
    margin-top: 50px;
    text-align: center;
}